body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #ffffff; 
    color: #000000; 
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 10px;
}

.logo img {
    height: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 25px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.nav-links a:hover {
    color: #ff0000;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

/* Accueil */
.accueil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.texte-accueil {
    flex: 1;
}

button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #f7c2f9;
  }
  button:hover span {
    padding-right: 25px;
  }
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

.photos-container {
    flex: 1;
    text-align: center;
}

.photo {
    max-width: 30%;
    height: auto;
    max-width: 30%;
}

/* Pharaons */
.pharaons {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.texte-pharaons {
    max-width: 800px;
    margin: 0 auto;
}

.photos-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}
